# RL and environment
stable-baselines3==2.1.0
torch
torchvision
numpy
gymnasium

# Data handling - Allow installer to choose compatible versions
pandas
scikit-learn

# Graph and plotting
networkx==3.1
matplotlib==3.8.0

# Web app
streamlit
requests==2.32